@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: 'Noto Sans TC', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

body {
  font-family: var(--font-sans);
}

@layer utilities {
  .font-sans {
    font-family: var(--font-sans);
  }
}